.container {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
  }
  
  h2 {
    text-align: center;
  }
  
  form div {
    margin-bottom: 10px;
  }
  
  label {
    display: inline-block;
    width: 80px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
  }
  
/*admin dashboard css*/

button {
  padding: 10px;
  margin-top: 10px;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.header-text h1 {
  font-size: 24px;
  margin: 0;
}

.header-text p {
  font-size: 16px;
  margin: 0;
}

nav {
  background-color: #eee;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h1, h2 {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: relative;
}

.search-form {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
}

.search-input {
  padding: 5px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.search-button {
  padding: 5px 10px;
  background-color: #ccc;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.main-content {
  /* Styling for the main content goes here */
}


  /* Styling for table */
.statistics {
  flex-grow: 1;
  padding: 20px;
}

.statistics h2 {
  color: #333;
}

.table-container {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}