$color: red;
ul{
    font-size: 14px;
    color: $color;
}
ol{
    font-size: 18px;
    color: $color;
}


<!---- <link rel="stylesheel" href="variables.css">
file i'd like to generate is variables.css
to compile
use 
sass variable.scss:variable.css
refrence the css stylesheet
its a 2 step process
compile scss code into css
link css to the particular page 
 changing sass file does automatically change the css file
 recompile the css file 
 to complie the css file 
 use 
 sass variable.scss:variables.css
 now refresh
to automate this process use
sass -- watch variable.scss:variable.css
>>>>Sass is watching for changes unlike your government : ). Press Ctrl-c to stop



-->